In [34]:
#importing libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#loading Data
dataset =load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#data cleanup
df['job_posted_date'] =pd.to_datetime(df['job_posted_date'])

In [62]:
dataset =load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

In [ ]:
df.sample(10, random_state=41)

In [19]:
#not good practice because anything you perform on one dataframe updates on the other due to the '='
df_altered=df

In [23]:
df.loc[:5,"salary_year_avg"]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [25]:
median_salary= df_altered['salary_year_avg'].median()
median_salary

115000.0

In [27]:
df_altered['salary_year_avg']=df_altered['salary_year_avg'].fillna(median_salary)
df_altered['salary_year_avg']

0         115000.0
1         115000.0
2         115000.0
3         115000.0
4         115000.0
            ...
785736    115000.0
785737    115000.0
785738    115000.0
785739    115000.0
785740    115000.0
Name: salary_year_avg, Length: 785741, dtype: float64

In [28]:
df_altered.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [29]:
df.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [48]:
id(df)

1573808705040

In [49]:
id(df_altered)

1573532019600

In [33]:
id(df)==id(df_altered)

True

#Good practice

In [63]:
df_copy = df.copy()

In [52]:
df.loc[:5,'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [51]:
df_copy.loc[:5,'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [66]:
id(df)

1573531033488

In [67]:
id(df_copy)

1573947170448

In [64]:
median_salary=df_copy['salary_year_avg'].median()
median_salary

115000.0

In [65]:
df_copy['salary_year_avg'] = df_copy['salary_year_avg'].fillna(median_salary)
df_copy.loc[:5,'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64